@font-face {
    font-family: "shabnam";
    src: url("fonts/Shabnam.eot");
    src: url("fonts/Shabnam.woff") format("woff"), url("fonts/Shabnam.otf") format("opentype"), url("fonts/Shabnam.svg") format("svg");
}

@font-face {
    font-family: "shabnam-bold";
    src: url("fonts/Shabnam-Bold.eot");
    src: url("fonts/Shabnam-Bold.woff") format("woff"), url("fonts/Shabnam-Bold.otf") format("opentype"), url("fonts/Shabnam-Bold.svg") format("svg");
}

* {
    box-sizing: border-box;
}


/*arrow up style*/

.arrow-up {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    width: 40px;
    height: 40px;
    left: 20px;
    bottom: 40px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.arrow-up:hover {
    color: rgba(255, 255, 255, 1);
    background-color: purple;
}

@media (min-width:1025px) {
    .arrow-up {
        left: 40px;
    }
}

@media (min-width:601px) {
    .arrow-up {
        bottom: 100px;
    }
}


/*اheader style*/

.header {
    position: relative;
    height: 342px;
    width: 100%;
    right: 0;
    overflow: hidden;
    background: url('images/abstract-background-with-low-poly-design-scaled.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: ellipse(90% 68% at 50% 32%);
}

@media (min-width:767px) {
    .header {
        height: 330px;
    }
}

@media (min-width:1025px) {
    .header {
        height: 530px;
    }
}


/*navbar style*/

.mynavbar {
    background-color: black;
    position: fixed !important;
    width: 100%;
    background: transparent;
}

@media (max-width:175px) {
    .navbar-icons {
        flex-flow: column;
    }
}


/*logo style*/

.navbar-logo {
    width: 64px;
    height: 46px;
}

@media (max-width:600px) {
    .logo-container {
        margin-top: 15px;
    }
}


/*navbar information style*/

.navbar-information {
    display: none;
}

@media (min-width:1025px) {
    .navbar-information {
        display: flex;
    }
    .navbar-icons {
        display: flex;
        align-items: center;
    }
    .collapse-underline {
        background-color: transparent !important;
    }
    .collapse-link {
        font-weight: 600 !important;
    }
}


/*offcanvas style*/

.offcanvas-button:focus {
    box-shadow: none !important;
}

.offcanvas-button:focus .offcanvas-icon {
    color: red !important;
}

.offcanvas-icon {
    color: white;
    opacity: 0.8;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.offcanvas-icon:hover {
    color: red;
    opacity: 0.8;
    border: none;
}

@media (min-width:1025px) {
    .offcanvas-button {
        margin-left: 40px;
    }
}

.offcanvas-header {
    background-color: #e1f5fe;
}

.offcanvas-body {
    background-color: #e1f5fe;
    height: 100vh;
}

.offcanvas-icon1 {
    color: rgb(48, 167, 214);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.offcanvas-icon1:hover {
    color: black;
    text-decoration: none;
}

.offcanvas-icon2 {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.offcanvas-icon2:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.offcanvas-h6 {
    font-size: 13px;
    font-family: shabnam-bold;
}

.myoffcanvas {
    width: 320px !important;
}

.offcanvas-link {
    color: black;
    opacity: 0.5;
    text-decoration: none;
    font-size: 16px;
}

.offcanvas-link:hover {
    color: black;
    opacity: 0.5;
}

.offcanvas-close {
    font-size: 30px !important;
    color: #ccc;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.offcanvas-close:hover {
    color: black;
}

.offcanvas-close-button:focus {
    box-shadow: none !important;
}


/*toggler style*/

.toggler-icon {
    color: white;
    opacity: 0.8;
    border: none;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.toggler-icon:hover {
    color: red;
    opacity: 0.8;
    border: none;
}

.toggler-button:focus .toggler-icon {
    color: red !important;
}

.toggler-button:focus {
    box-shadow: none !important;
}

@media (min-width:1025px) {
    .toggler-button {
        display: none;
    }
}


/*collapse style*/

.collapse-menu {
    background-color: #1e73be;
}

.collapse-item {
    cursor: pointer;
}

.collapse-link {
    text-decoration: none;
    font-size: 12px;
    font-family: shabnam;
    color: rgba(255, 255, 255, 0.85);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.collapse-item:hover .collapse-link {
    text-decoration: none;
    color: rgb(67, 177, 228);
}

.collapse-underline {
    width: 100%;
    height: 4px;
    background-color: #1e73be;
    background-image: -webkit-linear-gradient(right, rgb(67, 177, 228) 50%, transparent 50%);
    background-image: linear-gradient(to left, rgb(67, 177, 228) 50%, transparent 50%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.collapse-item:hover .collapse-underline {
    background-position: 100%;
    height: 2px;
}


/*navbar icon style*/

.navbar-icon {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

@media (max-width:600px) {
    .navbar-icon {
        display: none !important;
    }
}

.navbar-icon:hover {
    color: rgb(41, 152, 196);
    text-decoration: none;
}


/*information section style*/

.information-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #000000;
    opacity: 0.5;
    clip-path: ellipse(90% 68% at 50% 32%);
}

.information-img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 148.5px);
}


/*information text style*/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.information-text {
    z-index: -2;
    position: absolute;
    font-family: shabnam-bold;
    direction: rtl !important;
    text-align: center !important;
    color: #ffffff;
}

@media (max-width:1025px) {
    .information-text {
        font-size: 50px;
        letter-spacing: -2px;
        top: calc(50% - 37.5px);
        left: calc(50% - 179.5px);
    }
}

@media (max-width:767px) {
    .information-text {
        font-size: 34px;
        letter-spacing: 0px;
        top: calc(50% - 25.5px);
        left: calc(50% - 135px);
    }
}

@media (max-width:270px) {
    .information-text {
        font-size: 20px;
        letter-spacing: 0px;
        top: calc(50% - 14px);
        left: calc(50% - 76.5px);
    }
}

@media (min-width:1025px) {
    .information-text {
        font-size: 80px;
        font-weight: 800;
        letter-spacing: 0px;
        top: calc(50% - 60px);
        left: calc(50% - 272.5px);
    }
}


/*introduction style*/

.introduction-title-p1 {
    font-size: 50px;
    font-family: shabnam-bold;
    direction: center;
}

@media (max-width:767px) {
    .introduction-title-p1 {
        font-size: 44px;
    }
}

.introduction-title-p2 {
    font-family: shabnam;
    font-size: 17px;
    color: rgb(156, 155, 155);
}

.introduction-body-title {
    font-family: shabnam-bold;
    font-size: 17px;
    color: #6ec1e4;
}

.introduction-body-p {
    font-family: shabnam;
    font-size: 15px;
    color: rgb(156, 155, 155);
}

@media (max-width:471px) {
    .single-introduction {
        width: 70% !important;
    }
}

@media (min-width:767px) {
    .single-introduction {
        width: 33% !important;
    }
}

@media (min-width:1025px) {
    .single-introduction {
        width: 25% !important;
    }
}

@media (min-width:1220px) {
    .single-introduction {
        width: 23% !important;
    }
}

@media (min-width:1300px) {
    .single-introduction {
        width: 21% !important;
    }
}


/* company style*/

.company-section {
    background-image: url('images/19366-scaled.jpg');
    background-size: cover;
    height: 520px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.company-overlay {
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.company-img {
    width: 300px;
    height: 214px;
}

.company-title {
    font-family: shabnam-bold;
    font-size: 36px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 55%);
    font-weight: 800;
}

.company-h2 {
    font-family: shabnam;
    font-size: 10px;
}


/* new projects style */

.projects-title {
    overflow: hidden;
}

.project-title1 {
    font-family: shabnam;
    color: #444444;
    font-size: 14px;
    text-align: center;
}

.project-title2 {
    font-family: shabnam-bold;
    font-size: 54px;
    text-align: center;
}

@media (min-width:768px) {
    .project-title2 {
        font-size: 64px;
    }
}

@media (min-width:1025px) {
    .project-title2 {
        font-size: 56px;
    }
}

.projects-body {
    overflow: hidden;
}

@media(min-width:481px) and (max-width:576px) {
    .project-body {
        width: 43% !important;
    }
}

@media(min-width:800px) {
    .project-body {
        width: 33% !important;
    }
}

@media(max-width:800px) {
    .project-row {
        justify-content: center;
    }
}

@media(min-width:801px) {
    .project-row {
        justify-content: start;
        background-color: rgb(243, 243, 243);
    }
}

.project-body {
    cursor: pointer;
    position: relative;
    background: rgba(0, 0, 0, 0.74);
}

.project-img {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.project-body:hover .project-img {
    transform: scale(0.98);
    opacity: 0.1;
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

.project-link {
    text-decoration: none;
    font-family: shabnam-bold;
    color: white;
    font-size: 23px;
    text-align: center;
    position: absolute;
    top: 40%;
    right: 10%;
    width: 80%;
    opacity: 0;
}

.project-link:hover {
    color: white;
    text-decoration: none;
}

.project-body:hover .project-link {
    opacity: 1;
}

@media (max-width:700px) {
    .project-link {
        top: 30%;
    }
}

@media (max-width:480px) {
    .project-link {
        top: 40%;
    }
}

@media (max-width:300px) {
    .project-link {
        top: 30%;
    }
}

@media (min-width:1600px) {
    .project-link {
        top: 50%;
    }
}


/* company attributes style*/

.attributes-section {
    background-image: url('images/17973908-scaled.jpg');
}

.attributes-title {
    overflow: hidden;
}

.attributes-title1 {
    font-family: shabnam;
    color: #444444;
    font-size: 14px;
    text-align: center;
}

.attributes-title2 {
    font-family: shabnam-bold;
    text-align: center;
    font-size: 54px;
}

@media (min-width:768px) {
    .attributes-title2 {
        font-size: 64px;
    }
}

@media (min-width:1025px) {
    .attributes-title2 {
        font-size: 56px;
    }
}


/*attribute body style*/

.attributes-body {
    overflow: hidden;
}

.attributes-blue-title {
    font-family: shabnam-bold;
    color: #1E88E5;
    font-size: 15px;
}

.first-blue-title {
    font-size: 1.625em
}

.attributes-p {
    font-family: shabnam;
    color: #999999;
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
}

.first-attributes-p {
    color: var( --e-global-color-secondary);
    opacity: 0.6;
}

.attributes-row {
    justify-content: center;
}

.single-attributes {
    flex-flow: column;
    align-items: center;
}

.attributes-p-container {
    flex-flow: column;
    align-items: center;
}

.attributes-img {
    opacity: 0.5;
}

@media (min-width:768px) {
    .single-attributes {
        flex-flow: row;
        justify-content: center;
        width: 55% !important;
    }
    .attributes-img-container {
        width: 50%;
        text-align: right;
        margin-left: 19px;
    }
    .attributes-p {
        text-align: right;
    }
    .attributes-p-container {
        align-items: start;
        width: 100%;
    }
    .attributes-row {
        flex-flow: column;
        align-items: center;
    }
}

@media(min-width:900px) {
    .single-attributes {
        width: 65% !important;
    }
    .attributes-img-container {
        margin-right: 30px;
    }
}

@media(min-width:1019px) {
    .single-attributes {
        width: 70% !important;
    }
}

@media (min-width:1025px) {
    .attributes-body {
        display: flex;
    }
    .single-attributes1 {
        width: 100% !important;
    }
    .single-attributes2 {
        width: 85% !important;
    }
}

@media (min-width:1025px) and (max-width:1199px) {
    .attributes-logo-container {
        width: 100% !important;
        display: flex;
        justify-content: center
    }
}

.attributes-box1 {
    opacity: 0;
}

.attributes-box2 {
    opacity: 0;
}

.animate1 {
    opacity: 1;
    animation: myanimate1 0.5s linear;
    -webkit-animation: myanimate1 0.5s linear;
}

@keyframes myanimate1 {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.animate2 {
    opacity: 1;
    animation: myanimate2 0.5s linear;
    -webkit-animation: myanimate2 0.5s linear;
}

@keyframes myanimate2 {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}

.attributes-logo-box {
    opacity: 0;
}

.logoanimate {
    opacity: 1;
    animation: logoanimate 1s;
    -webkit-animation: ;
}

@keyframes logoanimate {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/*register style*/

.register-section {
    overflow: hidden;
    clip-path: ellipse(148% 68% at 36% 68%);
}

.register-top {
    background-color: #111111;
    position: relative;
    background-image: url('images/Vecteezy-Techno-Background-R032421_generated.jpg');
    background-size: cover;
    background-position: center center;
}

.register-bottom {
    background-color: #111111;
    position: relative;
    background-image: url('images/Vecteezy-Techno-Background-R032421_generated.jpg');
    background-size: cover;
    clip-path: ellipse(135% 68% at 36% 32%);
}

.register-overlay1 {
    background-color: #000000;
    opacity: 0.14;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.register-plus {
    font-size: 55%;
    color: #ffffff;
}

.register-number {
    font-weight: bold;
    font-size: 70px;
    font-family: shabnam-bold;
    color: #ffffff;
}

.register-smal-text {
    font-size: 12px;
    font-weight: 400;
    font-family: shabnam-bold;
    text-align: center;
    color: #ffffff;
}

@media(max-width:1024px) {
    .register-number {
        font-size: 60px;
    }
    .register-smal-text {
        font-size: 11px;
    }
}

.counter {
    width: 100px;
    overflow: hidden;
}

.numbers {
    display: flex;
    animation: countNumber 1s alternate;
    animation-timing-function: steps(10);
}

.numbers div {
    text-align: center;
    flex: 0 0 100px;
}

@keyframes countNumber {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: +1000px;
    }
}

.single-number {
    flex-flow: column;
    align-items: center;
}

.register-row {
    justify-content: center;
}


/*register title style*/

.register-title {
    overflow: hidden;
}

.register-title1 {
    font-family: shabnam-bold;
    text-align: center;
    font-weight: 800;
    color: white;
    z-index: 2;
}

@media(max-width:767px) {
    .register-title1 {
        font-size: 38px;
    }
}

@media(min-width:768px) {
    .register-title1 {
        font-size: 50px;
    }
}

@media (min-width:1025px) {
    .register-title1 {
        font-size: 55px;
    }
}

.register-title2 {
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.51);
    width: 100%;
    z-index: 2;
}

.register-button {
    text-decoration: none;
    font-family: shabnam-bold;
    font-size: 17px;
    font-weight: 600;
    background-color: #6e0270;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
    padding: 18px 35px;
    z-index: 2;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.register-button:hover {
    color: white;
    background-color: rgb(233, 74, 127);
}

.register-button:focus {
    color: white;
    background-color: rgb(233, 74, 127);
}


/*team style*/

.members-title {
    font-weight: 800;
    font-size: 54px;
    font-family: shabnam-bold;
}

@media (min-width:768px) {
    .members-title {
        font-size: 64px;
    }
}

@media (min-width:1025px) {
    .members-title {
        font-size: 56px;
    }
}

.member-img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.members-body {
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.member-big-title {
    font-family: shabnam-bold;
    font-size: 32px;
    color: rgb(118, 200, 233);
    text-align: center;
}

.member-small-title {
    font-family: shabnam;
    font-size: 12px;
    font-weight: 300;
    color: #939393;
}

.member-icon {
    text-decoration: none;
    font-size: 28px;
}

.member-icon:hover {
    text-decoration: none;
    opacity: 0.9;
}

.member-icon1 {
    color: white;
    background-color: black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: #ffffff solid 3px;
    padding: 0.18rem;
}

.member-icon2 {
    color: white;
    background-color: rgb(42, 170, 221);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: #ffffff solid 3px;
}

.single-member {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.members-img-container {
    position: relative;
}

.member-icons-container {
    position: absolute;
    bottom: -17px;
    left: calc(50% - 30px);
}


/*progress bar style*/

.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.progress {
    height: 30px !important;
    width: 71% !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
}

@media (max-width:768px) {
    .progress {
        width: 90% !important;
    }
}

.progress-bar-text {
    font-family: shabnam;
}

.member-progress1 {
    background-color: #3c6382 !important;
    max-width: 95%;
}

.member-progress2 {
    background-color: #706fd3 !important;
    max-width: 80%;
}

.member-progress3 {
    background-color: #2d3436 !important;
    max-width: 100%;
}

.member-progress4 {
    background-color: #7f8c8d !important;
    max-width: 89%;
}

.member-progress5 {
    background-color: #ed3d3d !important;
    max-width: 93%;
}

.member-progress6 {
    background-color: #ffb142 !important;
    max-width: 76%;
}


/*footer style*/

.footer-top-container {
    position: relative;
    overflow: hidden;
    background-image: url(images/landerBG6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.footer-top-overlay {
    background-color: #000000;
    opacity: 0.79;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer-top {
    padding: 190px 50px 60px 30px;
    max-width: 1019px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1025px) {
    .footer-top {
        padding: 110px 20px 0px 3px;
    }
}

.footer-top-big-title {
    font-family: shabnam-bold;
    text-align: right;
    font-size: 38px;
    font-weight: 800;
    color: #ffffff;
    position: absolute;
    right: 50px;
    top: 75px;
}

@media (min-width:768px) {
    .footer-top-big-title {
        font-size: 36px;
    }
}

@media (min-width:1025px) {
    .footer-top-big-title {
        font-size: 45px;
        top: 0;
        right: 20px;
    }
}

.footer-top-box {
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer-top-title {
    font-size: 14px;
    color: #fcfcfc;
    font-weight: 600;
}

.footer-top-p {
    font-family: shabnam;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}

.footer-top-icon {
    font-size: 30px;
    text-decoration: none;
}

.footer-top-icon:hover {
    text-decoration: none;
    opacity: 0.9;
}

.footer-top-icon1 {
    color: white;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0.38rem;
}

.footer-top-icon2 {
    color: white;
    background-color: rgb(42, 170, 221);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* footer bottom style*/

.footer-bottom-container {
    overflow: hidden;
}

.footer-bottom-title1 {
    font-family: shabnam-bold;
    font-size: 13px;
}

@media (min-width:1025px) {
    .single-footer-bottom1 {
        float: right;
    }
    .single-footer-bottom2 {
        float: right;
    }
}