@font-face {
    font-family: "shabnam";
    src: url("fonts/Shabnam.eot");
    src: url("fonts/Shabnam.woff") format("woff"), url("fonts/Shabnam.otf") format("opentype"), url("fonts/Shabnam.svg") format("svg");
}

@font-face {
    font-family: "shabnam-bold";
    src: url("fonts/Shabnam-Bold.eot");
    src: url("fonts/Shabnam-Bold.woff") format("woff"), url("fonts/Shabnam-Bold.otf") format("opentype"), url("fonts/Shabnam-Bold.svg") format("svg");
}


/*اheader style*/

.header {
    position: relative;
    height: 53vh;
    width: 100%;
    right: 0;
    overflow: hidden;
}


/*navbar style*/

.mynavbar {
    background-color: black;
    position: fixed !important;
    width: 100%;
    background: transparent;
}

.navbar-icon {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-icon:hover {
    color: rgb(41, 152, 196);
    text-decoration: none;
}


/*toggler style*/

.toggler-icon {
    color: white;
    opacity: 0.8;
    border: none;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.toggler-icon:hover {
    color: red;
    opacity: 0.8;
    border: none;
}


/*collapse style*/

.collapse-menu {
    background-color: #1e73be;
}

.collapse-item {
    cursor: pointer;
}

.collapse-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: shabnam;
    color: rgba(255, 255, 255, 0.85);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.collapse-item:hover .collapse-link {
    text-decoration: none;
    color: rgb(67, 177, 228);
}

.collapse-underline {
    width: 100%;
    height: 4px;
    background-color: #1e73be;
    background-image: -webkit-linear-gradient(right, rgb(67, 177, 228) 50%, transparent 50%);
    background-image: linear-gradient(to left, rgb(67, 177, 228) 50%, transparent 50%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.collapse-item:hover .collapse-underline {
    background-position: 100%;
    height: 2px;
}


/*offcanvas style*/

.offcanvas-icon {
    color: white;
    opacity: 0.8;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.offcanvas-icon:hover {
    color: red;
    opacity: 0.8;
    border: none;
}

.offcanvas-header {
    background-color: #e1f5fe;
}

.offcanvas-body {
    background-color: #e1f5fe;
    height: 100vh;
}

.offcanvas-icon1 {
    color: rgb(48, 167, 214);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.offcanvas-icon1:hover {
    color: black;
    text-decoration: none;
}

.offcanvas-icon2 {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.offcanvas-icon2:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.offcanvas-h6 {
    font-size: 13px;
    font-family: shabnam-bold;
}

.myoffcanvas {
    width: 320px !important;
}

.offcanvas-link {
    color: black;
    opacity: 0.5;
    text-decoration: none;
    font-size: 16px;
}

.offcanvas-link:hover {
    color: black;
    opacity: 0.5;
}

.offcanvas-close {
    font-size: 30px !important;
    color: #ccc;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.offcanvas-close:hover {
    color: black;
}


/*logo style*/

.navbar-logo {
    width: 64px;
    height: 46px;
}


/*information section style*/

.background-img {
    position: absolute;
    background: url('https://rasa-dev.ir/wp-content/uploads/2021/11/abstract-background-with-low-poly-design-scaled.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    clip-path: ellipse(90% 68% at 50% 32%);
}

.information-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #000000;
    opacity: 0.5;
    clip-path: ellipse(90% 68% at 50% 32%);
}

.information-img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 148.5px);
    z-index: -2;
}


/*information text style*/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.information-text {
    z-index: -2;
    position: absolute;
    font-family: shabnam-bold;
    direction: rtl !important;
    text-align: center !important;
    color: #ffffff;
}

@media (max-width:1024px) {
    .information-text {
        font-size: 50px;
        letter-spacing: -2px;
        top: calc(50% - 37.5px);
        left: calc(50% - 179.5px);
    }
}

@media (max-width:767px) {
    .information-text {
        font-size: 34px;
        letter-spacing: 0px;
        top: calc(50% - 25.5px);
        left: calc(50% - 135px);
    }
}

@media (max-width:270px) {
    .information-text {
        font-size: 20px;
        letter-spacing: 0px;
        top: calc(50% - 14px);
        left: calc(50% - 76.5px);
    }
}

.lorem-div {
    padding-bottom: 100px;
}